.types-of-photo {
    font-size: 1.2rem;
}
.types-of-photo--services {
    font-size: 1.7rem;
    font-style: italic;
}
.types-of-services {
    font-size: 1.8rem;
}
.instagram {
    font-size: 1.4rem;
}
.accordion-button {
    font-weight: bold;
}
