//
// Masthead section styling
//

header.masthead {
    margin-top: 5rem;
    padding: 1rem 0;
    .container {
        height: calc(100vh - 5rem);
        width: 100vw;
        display: flex;
        justify-content: center;
        @include media-breakpoint-up(lg) {
            flex-direction: column;
        }
        .row-12 {
            height: 100%;
            width: 100%;
            @include media-breakpoint-up(lg) {
                display: none;
            }
            .col-12 {
                height: 100%;
                width: 100%;
                .img-landing {
                    height: 70%;
                    width: 100%;
                    object-fit: contain;
                }
                .masthead-subtitle-surname {
                    text-align: center;
                    font-size: 1.6rem;
                    font-family: $headings-font-family;
                    font-style: italic;
                    font-weight: 600;
                }
            }
            .masthead-title {
                margin-top: 1rem;
                text-align: center;
                font-size: 2rem;
                font-family: $headings-font-family;
                text-transform: uppercase;
                font-weight: $font-weight-bold;
                margin-bottom: 1rem;
            }
            .masthead-subtitle {
                text-align: center;
                font-size: 1.4rem;
                font-family: $headings-font-family;
                font-style: italic;
                font-weight: 400;
            }
        }
        .row-4 {
            height: 60%;
            width: 100%;
            display: none;
            padding-bottom: 2rem;
            @include media-breakpoint-up(lg) {
                display: flex;
            }
            .img-landing-lg {
                display: none;
                @include media-breakpoint-up(lg) {
                    display: flex;
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
            .masthead-title {
                margin-top: 1rem;
                text-align: center;
                font-size: 2rem;
                font-family: $headings-font-family;
                text-transform: uppercase;
                font-weight: $font-weight-bold;
            }
            .masthead-subtitle {
                text-align: center;
                font-size: 1.4rem;
                font-family: $headings-font-family;
                font-weight: 400;
                font-style: italic;
                margin-bottom: 2rem;
            }
        }
        .row.landing-text-lg {
            display: none;
            @include media-breakpoint-up(lg) {
                display: flex;
                height: 40%;
                width: 100%;
            }
            .col-12 {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .masthead-title {
                    margin-top: 1rem;
                    text-align: center;
                    font-size: 2rem;
                    font-family: $headings-font-family;
                    text-transform: uppercase;
                    font-weight: $font-weight-bold;
                    @include media-breakpoint-up(lg) {
                        font-size: 4rem;
                    }
                }
                .masthead-subtitle {
                    text-align: center;
                    font-size: 1.4rem;
                    font-family: $headings-font-family;
                    font-weight: 400;
                    font-style: italic;
                    margin-bottom: 2rem;
                    @include media-breakpoint-up(lg) {
                        margin-bottom: 0;
                        font-size: 2rem;
                    }
                }
            }
        }
    }
}

@include media-breakpoint-up(md) {
    header.masthead {
        margin-top: 5rem;
        padding: 1rem 0;
        .container {
            height: calc(100vh - 5rem);
            width: 100vw;
            display: flex;
            justify-content: center;
            .row {
                height: 100%;
                width: 100%;
                .col-12 {
                    height: 100%;
                    width: 100%;
                    .img-landing {
                        height: 70%;
                        width: 100%;
                        object-fit: contain;
                    }
                    .masthead-subtitle-surname {
                        text-align: center;
                        font-size: 2.7rem;
                        font-family: $headings-font-family;
                        font-style: italic;
                        font-weight: 600;
                    }
                }
                .masthead-title {
                    margin-top: 1rem;
                    text-align: center;
                    font-size: 3rem;
                    font-family: $headings-font-family;
                    text-transform: uppercase;
                    font-weight: $font-weight-bold;
                }
                .masthead-subtitle {
                    text-align: center;
                    font-size: 1.8rem;
                    font-family: $headings-font-family;
                    font-style: italic;
                    font-weight: 400;
                    margin-bottom: 2rem;
                }
            }
        }
    }
}
