.margin-bottom-section-pricing {

}
.accordion-title {
    margin-bottom: 1rem;
}
.price-tag {
    font-size: 1.4rem;
    font-weight: bold;
    text-align: end;
    margin-top: 1rem;
}
.accordion-body-list-title {
    margin-top: 0.8rem;
}
.accordion-body-list {
    &-item {
        
    }
}