.margin-bottom-section-pricing {

}
.accordion-title {
    margin-bottom: 1rem;
}
.price-tag {
    font-size: 16px;
    font-weight: bold;
    text-align: end;
    margin-top: 1rem;
}
.price-tag-small {
    font-size: 15px;
}
.accordion-body-list-title {
    margin-top: 0.8rem;
}
.accordion-body-list {
    &-item {
        
    }
}
.muted-small {
    font-size: 14px;
}
.season-li {
    font-weight: 900;
    font-style: italic;
    font-size: 1.2rem;

}

.small-margin-bottom {
    margin-bottom: 0px;
}
.heading-margin-bottom {
    margin-bottom: 30px !important;
}