//
// Team section styling
//

.team-member {
    margin-bottom: 3rem;
    text-align: center;

    img {
        width: 14rem;
        height: 14rem;
        border: 0.5rem solid fade-out($black, 0.9);
    }

    h4 {
        margin-top: 1.5rem;
        margin-bottom: 0;
    }
}

// Brand images for client section
.img-brand {
    height: 2.75rem;
}

.team-row {
    @include media-breakpoint-up(lg) {
    padding: 0 7rem 0 7rem;
    }
    @include media-breakpoint-up(xl) {
        padding: 0 10rem 0 10rem;
    }
    @include media-breakpoint-up(xxl) {
        padding: 0 13rem 0 13rem;
    }
}

.aboout-us-link {
    
}
.cooperation {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40%;
    @media only screen and (max-width: 991px) {
        padding-top: 0;
        flex-direction: column;
        font-size: 15px;
      }
    h5 {
        margin-right: 5px;
        margin-bottom: 0;
        font-style: italic;
        font-weight: 600;
        @media only screen and (max-width: 991px) {
            font-size: 18px;
        }
    }
    .arrow-right {
        @media only screen and (max-width: 991px) {
            display: none;
          }
    }
    .arrow-down {
        display: none;
        @media only screen and (max-width: 991px) {
            display: block;
            margin-top: 10px;
            font-size: 20px;
          }

    }
}