doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title ATL Photography - Tomasz Lekawa 

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.15.4/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top
            .container
                a.navbar-brand(href='#page-top')
                    img(src='assets/img/LogoWhite.png', alt='...')
                button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    | Menu
                    i.fas.fa-bars.ms-1
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.text-uppercase.ms-auto.py-4.py-lg-0
                        li.nav-item
                            a.nav-link(href='#services') What We Do
                        li.nav-item
                            a.nav-link(href='#team') About Us
                        li.nav-item
                            a.nav-link(href='#portfolio') Portfolio
                        li.nav-item
                            a.nav-link(href='#about') Pricing
                        li.nav-item
                            a.nav-link(href='#contact') Contact
        // Masthead
        header.masthead.bg-light
            .container.landing-page
                .row.row-12
                    .col-12
                        .masthead-title ATL PHOTOGRAPHY
                        .masthead-subtitle-surname Tomasz Lekawa
                        img(src='assets/img/_DSC5428.jpeg', alt='...').img-landing
                .row.landing-text-lg
                    .col-12
                        .masthead-title ATL PHOTOGRAPHY
                        .masthead-subtitle-surname Tomasz Lekawa
                .row.row-4
                    .col-4
                        img(src='assets/img/_DSC9353.jpeg', alt='...').img-landing-lg
                    .col-4
                        img(src='assets/img/_DSC5428.jpeg', alt='...').img-landing-lg
                    .col-4
                        img(src='assets/img/_DSC5630.jpeg', alt='...').img-landing-lg
                        
        // Services
        section#services.page-section-small.page-section
            .container
                .text-center
                    h2.section-heading.text-uppercase WHAT WE DO
                    h4.section-subheading.types-of-photo.mb-3 Types of photography
                    h3.section-subheading.text-muted.types Classic Portraits, Headshots, Fine Art, Street Portraits, Street Fashion, Editorial Photography, Boudoir, Studio/Indoor/Outdoor Photography
                    h4.section-subheading.types-of-photo.mb-3.mt-3 Types of services
                .row.text-center
                    .col-md-4
                        span.fa-stack.fa-4x
                            i.fas.fa-circle.fa-stack-2x.text-primary
                            i.fas.fa-portrait.fa-stack-1x.fa-inverse
                        h4.my-3 Standard photoshoots
                        //- p.text-muted
                        //-     | Headshots Photography, Street Portrait Photography, Fine Art Photography, Street Fashion Photography, Boudoir Photography, Studio/Indoor Portraits, Business Photography
                    .col-md-4
                        span.fa-stack.fa-4x
                            i.fas.fa-circle.fa-stack-2x.text-primary
                            i.far.fa-id-card.fa-stack-1x.fa-inverse
                        h4.my-3 Portfolio
                        //- p.text-muted
                        //-     | We can build your portfolio from beginning or we can create for you very fresh and unique photographs to update your existing portfolio
                    .col-md-4
                        span.fa-stack.fa-4x
                            i.fas.fa-circle.fa-stack-2x.text-primary
                            i.fas.fa-building.fa-stack-1x.fa-inverse
                        h4.my-3 Business Photoshoots
                        //- p.text-muted
                        //-     | Portrait Photography & Editorials for magazines and individual Photo Models

                .row.text-center.margin-top-small
                    .col-md-4
                        span.fa-stack.fa-4x
                            i.fas.fa-circle.fa-stack-2x.text-primary
                            i.fab.fa-instagram.fa-stack-1x.fa-inverse
                        h4.my-3 Social Media Feed Plans 
                        //- p.text-muted
                        //-     | Four Seasons Photoshoot Plan ( Spring, Summer, Autumn & Winter Photoshoots) 
                        //- p.text-muted
                        //-     | All Year Photoshoots Plan (12 photoshoots during the year, one photoshoot per month)
                    .col-md-4
                        span.fa-stack.fa-4x
                            i.fas.fa-circle.fa-stack-2x.text-primary
                            i.fas.fa-plane-departure.fa-stack-1x.fa-inverse
                        h4.my-3 Photoshoot Trips
                        //- p.text-muted
                        //-     | In the UK ( In the most popular cities like London, Manchester, Liverpool, Birmingham,Edinburgh etc.)  
                        //- p.text-muted
                        //-     | In Europe ( Paris, Amsterdam, Barcelona, Madrid, Warsaw, Berlin, Bruselss etc. )
                    .col-md-4
                        span.fa-stack.fa-4x
                            i.fas.fa-circle.fa-stack-2x.text-primary
                            i.fas.fa-bolt.fa-stack-1x.fa-inverse
                        h4.my-3 Next day photos
                    
                        //- p.text-muted
                        //-     | Business Portraits Photoshoots ( in the Photography Studio,your workplace or other business locations )
                .row.text-center.margin-top-small
                    .col-12
                        span.fa-stack.fa-4x
                            i.fas.fa-circle.fa-stack-2x.text-primary
                            i.fas.fa-camera.fa-stack-1x.fa-inverse
                        h4.my-3 Modeling
                        //- p.text-muted
                        //-     | Photo modeling with product presentation for boutiques, shops and individuals from clothing and fashion industry
                    
        // About Us
        section#team.page-section.bg-light
            .container
                .text-center
                    h2.section-heading.text-uppercase About Us
                    h3.section-subheading.text-muted Learn more about us.
                .row.team-row
                    .col-lg-6
                        .team-member
                            img.mx-auto.rounded-circle(src='assets/img/team/tomek_about-2.jpeg', alt='Tomasz Lekawa')
                            h4 Tomasz Lekawa
                            p.text-muted Internationally published Photographer
                            //- a.btn.btn-dark.btn-social.mx-2(href='#!')
                            //-     i.fab.fa-twitter
                            //- a.btn.btn-dark.btn-social.mx-2(href='#!')
                            //-     i.fab.fa-facebook-f
                            //- a.btn.btn-dark.btn-social.mx-2(href='#!')
                            //-     i.fab.fa-linkedin-in
                    .col-lg-6
                        .team-member
                            img.mx-auto.rounded-circle(src='assets/img/team/alicja_about-2.jpeg', alt='Alicja Lekawa')
                            h4 Alicja Lekawa
                            p.text-small.mb-1 (beauty cooperator)
                            p.text-muted Internationally published freelance Photomodel, Makeup Artist & Stylist
                            //- a.btn.btn-dark.btn-social.mx-2(href='#!')
                            //-     i.fab.fa-twitter
                            a.btn.btn-dark.btn-social.mx-2(href='#!')
                                i.fab.fa-facebook-f
                            a.btn.btn-dark.btn-social.mx-2(href='#!')
                                i.fab.fa-instagram.instagram
                .row
                    .col-lg-10.mx-auto.text-center
                        p.large.text-muted.margin-p-bottom
                            | ATL Photography Ltd  was created in 2021 by us, Alicja & Tomasz Lekawa.
                            | Our passion is to photograph people, create unique portraits and professional portfolios.Our work has been published in over 50 fashion, modeling and lifestyle magazines around the World. This includes our editorials published on the covers of magazines in New York, Paris and many more.
                        p.large.text-muted
                            | For more information about us, our work and publications, please visit our
                            a.aboout-us-link(href="https://www.lekawa-photography.co.uk/about" target="_blank") Portfolio website. 

        // Portfolio
        section#portfolio.page-section
            .container
                .text-center
                    h2.section-heading.text-uppercase Portfolio
                    h3.section-subheading.text-muted For more information about us and our work, please visit our personal portfolio website.
            //- .container
                //- .row.portfolio-row
                //-     .col-8.portfolio-col
                //-         img(src='assets/img/lekawa-website.png', alt='lekawa-photography portfolio website').img-portfolio
            .container.btn-portfolio
                a.btn.btn-primary.btn-xl.text-uppercase(href='https://lekawa-photography.co.uk' target="_blank") Portfolio
                    

        // Pricing
        section#about.page-section.bg-light
            .container
                .text-center
                    h2.section-heading.text-uppercase Pricing
                    h3.section-subheading.text-muted Pick your perfect package
            // accordian standard photoshoot
            .container
                .text-center
                    h4.section-subheading.text-uppercase.accordion-title STANDARD PHOTOSHOOT
                    p.text-medium.text-muted A standard photoshoot occurs when a photographed person or people wear the same outfit, makeup and hairstyle during the entire session. This type of photo session is the best choice for non-models who want to get beautiful images for their home photo album. Usually, the session lasts from 1 hour to 2 hours.
                    p.text-medium.text-muted We require a £30.00 photo session date and time booking fee (non-refundable). 
            .container.margin-bottom-section-pricing
                #accordionExample.accordion
                    .accordion-item
                        h2#headingOne.accordion-header
                            button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne")  Basic
                        #collapseOne.accordion-collapse.collapse(aria-labelledby="headingOne" data-bs-parent="#accordionExample")
                            .accordion-body     
                                h6.accordion-body-list-title This package includes:
                                ul.accordion-body-list
                                    li.accordion-body-list-item 10 fully edited digital images
                                p.price-tag £179.00 (inc. pre-paid £30.00)
                    .accordion-item
                        h2#headingTwo.accordion-header
                            button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo")  Normal
                        #collapseTwo.accordion-collapse.collapse(aria-labelledby="headingTwo" data-bs-parent="#accordionExample")
                            .accordion-body     
                                h6.accordion-body-list-title This package includes:
                                ul.accordion-body-list
                                    li.accordion-body-list-item 15 fully edited digital images
                                p.price-tag £229.00 (inc. pre-paid £30.00)
                    .accordion-item
                        h2#headingThree.accordion-header
                            button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree")  Premium
                        #collapseThree.accordion-collapse.collapse(aria-labelledby="headingThree" data-bs-parent="#accordionExample")
                            .accordion-body 
                                h6.accordion-body-list-title This package includes:
                                ul.accordion-body-list
                                    li.accordion-body-list-item 20 fully edited digital images
                                p.price-tag £259.00 (inc. pre-paid £30.00)
            // accordian standard photoshoot
            .container.mt-5
                .text-center
                    h4.section-subheading.text-uppercase.accordion-title PORTFOLIO
                    p.text-medium.text-muted We build our portfolio by creating a number of unique photographs. This type of photoshoot usuallyconsists of a number of mini photo sessions where a model changes outfits, makeup and hairstyle.Then we select the best photos from the sets we did, and that is how your portfolio is created.This type of photo session is the best choice for aspiring models/photo models, semi-professional orprofessional models/photo models, influencers and anyone who wants to have their own portfolio. Duration: ranging from 3 hours to a full day
                    p.text-medium.text-muted We require a 50% up-front fee.
            .container.margin-bottom-section-pricing
                #accordionExample.accordion
                    .accordion-item
                        h2#headingOne.accordion-header
                            button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne")  Basic
                        #collapseOne.accordion-collapse.collapse(aria-labelledby="headingOne" data-bs-parent="#accordionExample")
                            .accordion-body     
                                h6.accordion-body-list-title This package includes:
                                ul.accordion-body-list
                                    li.accordion-body-list-item 10 fully edited digital images
                                    li.accordion-body-list-item up to 10 different outfits (professional makeup included)
                                p.price-tag £399.00
                    .accordion-item
                        h2#headingTwo.accordion-header
                            button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo")  Normal
                        #collapseTwo.accordion-collapse.collapse(aria-labelledby="headingTwo" data-bs-parent="#accordionExample")
                            .accordion-body     
                                h6.accordion-body-list-title This package includes:
                                ul.accordion-body-list
                                    li.accordion-body-list-item 15 fully edited digital images
                                    li.accordion-body-list-item up to 15 different outfits (professional makeup included)
                                p.price-tag £549.00
                    .accordion-item
                        h2#headingThree.accordion-header
                            button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree")  Premium
                        #collapseThree.accordion-collapse.collapse(aria-labelledby="headingThree" data-bs-parent="#accordionExample")
                            .accordion-body 
                                h6.accordion-body-list-title This package includes:
                                ul.accordion-body-list
                                    li.accordion-body-list-item 20 fully edited digital images
                                    li.accordion-body-list-item up to 20 different outfits (professional makeup included)
                                p.price-tag £649.00
            // accordian standard photoshoot
            .container.mt-5
                .text-center
                    h4.section-subheading.text-uppercase.accordion-title SOCIAL MEDIA FEED PLANS
                    p.text-medium.text-muted This plan gives you constant and regular photography content for your Facebook & Instagram. This is the best choice for influencers, models, photo models, social media business owners and anyone who wants to keep the social media feed at its most professional look. You will receive your final images in two packages. One is ready to use on Instagram, while the other is ready to use on Facebook.
                    p.text-medium.text-muted We require a 50% up-front fee.
            .container.margin-bottom-section-pricing
                #accordionExample.accordion
                    .accordion-item
                        h2#headingOne.accordion-header
                            button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne")  Four Season Photoshoot plan
                        #collapseOne.accordion-collapse.collapse(aria-labelledby="headingOne" data-bs-parent="#accordionExample")
                            .accordion-body     
                                h6.accordion-body-list-title This package includes:              
                                p we will photograph you 4 times. One time in each season of the year to create a series of professional images for you to use on your Facebook & Instagram. Photoshoots are made in Summer, Autumn, Winter and Spring. 
                                p You pay just for 3 photoshoots (Standard or Portfolio).
                                //- p.price-tag £399.00
                    .accordion-item
                        h2#headingTwo.accordion-header
                            button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo")  All Year Photoshoot plan
                        #collapseTwo.accordion-collapse.collapse(aria-labelledby="headingTwo" data-bs-parent="#accordionExample")
                            .accordion-body     
                                h6.accordion-body-list-title This package includes:
                                p we will photograph you 12 times a year, which means 1 photoshoot every month.
                                p You pay just for 8 photoshoots (Standard or Portfolio).
                                //- p.price-tag £549.00
            // accordian standard photoshoot
            .container.mt-5
                .text-center
                    h4.section-subheading.text-uppercase.accordion-title.mb-1 PHOTOSHOOT TRIPS 
                    p.text-small.mt-1 (with your own Photographer and MUA, Stylist Team)
                    p.text-medium.text-muted Trips are in a group of 4 to 6 models plus a Photographer, Make-up Artist and Stylist.
            .container.margin-bottom-section-pricing
                #accordionExample.accordion
                    .accordion-item
                        h2#headingOne.accordion-header
                            button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne")  IN THE UK
                        #collapseOne.accordion-collapse.collapse(aria-labelledby="headingOne" data-bs-parent="#accordionExample")
                            .accordion-body                   
                                h6.accordion-body-list-title In the most popular cities like London, Manchester, Liverpool, Leeds, Birmingham, Edinburgh, etc. 
                                p From £299.00 per person (single day trips)-transport included
                                p From £499.00 per person (weekend trips, two nights stay in at least a 3-star hotel)-transport & accommodation included
                                //- p.price-tag £399.00
                    .accordion-item
                        h2#headingTwo.accordion-header
                            button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo")  IN EUROPE
                        #collapseTwo.accordion-collapse.collapse(aria-labelledby="headingTwo" data-bs-parent="#accordionExample")
                            .accordion-body     
                                h6.accordion-body-list-title In Paris, Amsterdam or Brussels
                                p we will photograph you 12 times a year, which means 1 photoshoot every month.
                                p You pay just for 8 photoshoots (Standard or Portfolio).
                                //- p.price-tag £549.00

        // Contact
        section#contact.page-section
            .container
                .text-center
                    h2.section-heading.text-uppercase Contact Us
                    h3.section-subheading.text-muted We are always happy to answer any questions! Feel free to email or call.
                .row.text-center
                    .col-md-6.first-col-contact
                        span.fa-stack.fa-4x
                            i.fas.fa-circle.fa-stack-2x.text-primary
                            i.far.fa-envelope.fa-stack-1x.fa-inverse
                        h4.my-3 Email:
                        a(href="mailto:tomasz@lekawa-photography.co.uk").text-muted.email-phone
                            | tomasz@lekawa-photography.co.uk
                    .col-md-6
                        span.fa-stack.fa-4x
                            i.fas.fa-circle.fa-stack-2x.text-primary
                            i.fas.fa-phone-alt.fa-stack-1x.fa-inverse
                        h4.my-3 Phone:
                        a(href="tel:+447510830333").text-muted.email-phone
                            | 0 751 083 03 33
                // * * * * * * * * * * * * * * *
                // * * SB Forms Contact Form * *
                // * * * * * * * * * * * * * * *

                // This form is pre-integrated with SB Forms.
                // To make this form functional, sign up at
                // https://startbootstrap.com/solution/contact-forms
                // to get an API token!

                

        // Footer
        footer.footer.py-4
            .container
                .row.align-items-center
                    .col-lg-4.text-lg-start
                        | Copyright &copy; www.atl-photography.co.uk 2021
                    .col-lg-4.my-3.my-lg-0
                        a.btn.btn-dark.btn-social.mx-2(href='#!')
                            i.fab.fa-twitter
                        a.btn.btn-dark.btn-social.mx-2(href='#!')
                            i.fab.fa-facebook-f
                        a.btn.btn-dark.btn-social.mx-2(href='#!')
                            i.fab.fa-linkedin-in
                    .col-lg-4.text-lg-end
                        a.link-dark.text-decoration-none.me-3(href='#!') Privacy Policy
                        a.link-dark.text-decoration-none(href='#!') Terms of Use

        // Bootstrap core JS
        //- script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js')
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous")
        // Core theme JS
        script(src='js/scripts.js')

