//
// Colors
//

// Override Bootstrap color variables

$yellow: #ffc800;

// Override Bootstrap state colors variables

$primary: $yellow;

// Override Bootstrap contrast ratio

$min-contrast-ratio: 1.5;

// $accordion-icon-color: #ffc800;
$accordion-icon-active-color: #ffc800;
$accordion-button-active-bg: white;
$accordion-button-active-color: #ffc800;
$accordion-button-focus-border-color: black;
$accordion-button-focus-box-shadow: none;